name: Daily Weather Notification
on:
  schedule:
    - cron: '00 05 * * *'
  workflow_dispatch:
    
jobs:
  run-weather-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.1'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env: 
          openweather_api_key : ${{ secrets.OPEN_WEATHER_API}}
          tel_bot_tkn: ${{ secrets.BOT_TOKEN}}
          tel_chat: ${{ secrets.T_CHAT_ID}}
        run: python main_script.py
      
        
